<h1> Your Text Analysis </h1>

<h2>Number of Words:<%= @analyzer.word_count %></h2>

<h2>Vowels:<%= @analyzer.vowels %></h2>

<h2>Consonants:<%= @analyzer.consonants %></h2>

<h2>Most Common Letter: <%= @analyzer.most_common.capitalize %>, used <%= @analyzer.common_count %> times</h2>
